.job-header {
  border-bottom: 1px solid #d2d2d7;
  grid-template-columns: 3fr 1fr;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding: 70px 3.125vw;
}

.job-header-info {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  overflow: hidden;

  .job-header-title {
    font-size: 60px;
    font-weight: 500;
  }

  .job-header-description {
    font-size: 20px;
    color: #00000075;
  }
}

.job-header-link {
  overflow: hidden;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}