.job-header {
  border-bottom: 1px solid #d2d2d7;
  grid-template-columns: 3fr 1fr;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding: 70px 3.125vw;
}

.job-header-info {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  overflow: hidden;

  .job-header-title {
    font-size: 60px;
    font-weight: 500;
  }

  .job-header-description {
    font-size: 20px;
    color: #00000075;
  }
}

.job-header-link {
  overflow: hidden;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;

  .secret-button {
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    padding: 8px 16px;
    font-weight: 500;
    line-height: 1.4em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 999px;
    transition: background-color 0.25s ease, color 0.2s ease;
    font-size: 16px;
    background-color: rgba(92, 121, 177, 0.1);

    &:hover {
      color: rgba(0, 32, 51, 0.8);
      background-color: rgba(92, 121, 177, 0.16);
    }
  }
}