.blankPage {
  position: relative;
  height: 100%;
  width: 100%;
  color: #e8eaed;
  text-align: center;
  min-height: 30em;

  .blankPageError {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    min-width: 680px;
    text-align: center;
  }

  .errorEmoji {
    color: #dadce0;
    font: 200px/1.25 Helvetica Neue, sans-serif;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .errorText {
    font: 400 24px/32px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: normal;
    margin-bottom: 40px;
    white-space: pre-wrap;
    color: #575757;
  }
}