.skillDetail {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  position: relative;
  padding: 40px 0;

  @media (max-width: 880px) {
    display: none;
  }
}

// Colors
$blue: #29b6f6;
$green: #9ccc65;
$purple: #BA68C8;
$yellow: #FDD835;
$orange: #f57c00;
$red: #ef5350;
$cyan: #4dd0e1;
$pink: #E91E63;
$black-dark: #101010;
$black-light: #2c3e50;
$bg1: #E91E63;
$bg2: #9C27B0;
$white: whitesmoke;

$monospace: Consolas, "Lucida Console", monospace;


code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

.card {

  width: 100%;
  height: 22rem;
  position: relative;
  perspective: 150rem;

  background-color: #0b162d;
  border: solid 1px #1e2637;
  color: #c9d1d9;
  transition: opacity .2s ease, transform .2s ease;
  transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
  overflow: hidden;
  box-sizing: border-box;

  border-radius: 16px;
  box-shadow: 0 4px 50px -12px rgb(17 12 46 / 16%);

  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    transition: 0.9s cubic-bezier(.25, .8, .25, 1);
    //transform-origin: left center;
    backface-visibility: hidden;
    overflow: hidden;
    background: linear-gradient(-45deg, #101010, #2c3e50);

  }

  .lineNumbers {
    @extend code;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 20px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: rgba(white, 0.03);
    font-size: 13px;

    //line-height: 2.15;
    >div {
      padding: 2.5px 0;
      opacity: 0.15;
    }
  }

  code {
    max-width: 77%;
    color: $white;
  }

  .indent {
    padding-left: 30px;
  }

  .operator {
    color: $cyan;
  }

  .string {
    color: $green;
  }

  .variable {
    color: $purple;
  }

  .property {
    color: $red;
  }

  .method {
    color: $blue;
  }

  .function {
    color: $yellow;
  }

  .boolean {
    color: $cyan;
  }
}